html,
body,
h1,
h3,
p,
div {
    margin: 0;
}

img{
    pointer-events: none;
}

html{
    scroll-behavior: smooth;
}

header#topMenu, div#about{
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    background: #000 url("photo2.png") no-repeat center fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
}

#topMenu {
    height: 100px;
    text-align: center;
    background-color: #222;
    color: #FFF;
    border-bottom: 3px solid #B3424A;
}

#topMenu span.logo {
    float: left;
    width: 350px;
    height: 100px;
    border-right: 4px solid #FFF1;
}

#topMenu span.logo img {
    margin-right: 0 auto;
    margin-left: 0 auto;
    margin-top: 16px;
}

#topMenu span.menuList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#topMenu span.menuList a{
    display: inline-block;
    position: relative;
    color: #FFF;
    font-family: 'Lexend Deca',
    sans-serif;
    font-size: 38px;
    margin-top: 25px;
    text-decoration: none;
}

#topMenu span.menuList a::after{
     position: absolute;
     content: '';
     bottom: 0;
     left: 0;
     width: 0;
     height: 4px;
     background: #B3424A;
     transition: all 0.3s ease 0s;
}

#topMenu span.menuList a:hover {
    cursor: pointer;
}

#topMenu span.menuList a:hover::after {
    width: 100%;
}

#about {
    padding-top: 80px;
    text-align: center;
    color: #FFF;
    font-family: 'M PLUS 1P';
    font-size: 25px;
    text-shadow: 0px 0px 10px #000, 0px 0px 15px #000;
    margin: 0;
}

#about h1,
h4 {
    margin-bottom: 80px;
    font-weight: 100;
}

#about h4 {
    margin: 30px;
}